@import 'https://fonts.googleapis.com/css?family=Alegreya+Sans';

body, html {
  height: 100vh;
  margin: 0;
  font: 400 18px/1.8 "Lato", sans-serif;
  color: #777;
  background-color: #282E34;
}
a:visited{
  color: #777;
  text-docoration: none;
}
header{
	
	width: 100%;
	

}
/* refactor becuase it only incudes nav bar
ie its not a static header anymore its just a navbar/menu container */
#static_header{
	position: fixed;
	width: auto;
	/* height: 0%; */
	z-index: 15;
	right: 0;
	padding: 1% 2% 0 0;
	/* background-color: black; */
	/* transition: all 1s ease; */
	pointer-events: none;
	

}
#static_header.open_menu{
	height: 100%;
	transition: all 1s ease;
	background-color: #111;
	width: 35%;
}
#header_content{
	position: relaitve;
	
}
#logo{
	position: fixed;
	z-index: 15;
	/* margin: 40px -20px; */
	float: left;
	width: 15vh;
	height: 10vh;
	background: url(img/rp.png) no-repeat center;
	background-size: 90%;
	/* margin: 1%; */
	
	/*postion relative*/
}
#menu-icon{
	margin: 0 -50%; /*padding interfering with margin on both */
	float: right;
	width: 11vh;
	height: 8vh;
	/* padding: 0px -20px; */
	display: block;
	transition: all 2s ease;
	opacity: 1;
	/* background-color: blue; */
	top: 0;
	position: relaitve;
	padding: 2%;
	pointer-events: auto;
}

#menu-icon:hover{
	cursor: pointer;
}
.line{
	background: white;
	width: 10%;
	height: 1vh;
	/* margin: 8px auto; */
	position: absolute;
	border-radius:50px;
	pointer-events: none;
	transition: all cubic-bezier(0.31,-0.67, 0.57, 1.9) 0.45s;
	
}
.linetop{
	margin-top: -2%;
}
.linemid{
	margin-top: 2%;
}
.linebot{
	margin-top: 6%;
}
#menu-icon.close{
	/* float: left; */
	/* margin: 0px; */
	/* transition: all 2s ease; */
	
}
#menu-icon.show{
	opacity: 1;
	margin: 0vh 0vh;
	
}
#menu-icon.close .linetop{
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Safari */
	-o-transform: rotate(45deg);
    transform: rotate(45deg);
	margin-top: 4%;
	width: 15%;
	/* -moz-transform: translate(4); */
	/* -ms-transform: rotate(45deg); /* IE 9 */ 
    /* -webkit-transform: rotate(45deg); /* Safari */ 
	/* -o-transform: rotate(45deg); */
   
}
#menu-icon.close .linemid, #menu-icon.close .linebot{
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Safari */
	-o-transform: rotate(-45deg);
    transform: rotate(-45deg);
	margin-top: 4%;
	width: 15%;
	/* -moz-transform: translate(4); */
	/* -ms-transform: rotate(45deg); /* IE 9 */ 
    /* -webkit-transform: rotate(45deg); /* Safari */ 
	/* -o-transform: rotate(45deg); */
   
}

nav{
	position: relative;
	z-index: 13;
}
ul{
	list-style-type: none;
	
}

@keyframes flash{
	0% { color: #e5f6fc;  }
	50% { color: #627491; }
	100% { color: #e5f6fc; }
}


#u_list{
	float: left;
	position: relative;
	display: block;
	font-size: 4vh;
	/* right: 10px; */
	/* margin-right: 10px; */
	opacity: 1;
	transition: all 1s ease;
	top: 0px;
	/* background-color: red; */
	width: 100%;
	pointer-events: auto;
	
}
/* #u_list.side_nav{ */
	/* top: 0px; */
	/* opacity: 1; */
	
/* } */
#u_list.hide_nav{
	top: -200px;
	opacity: 0;
	visibility: hidden;
}
nav ul li{
	display: inline-block;
	
	/* position: relaitve; */
	/* padding: 15px; */
	/* float: right; */

	/* position: relative; */
	/* font-size: 4vh; */
	/* margin-right: 10px; */

	/* opacity: 1; */
	/* transition: all 2s ease; */
}
#u_list.side_nav li{
	display: block;
	/* padding: 15px; */
	/* background-color: blue; */
	margin-left: -40px;
	width: 120%
	
}
#u_list.side_nav li a{
	display: block;
	/* padding: 15px; */
	/* background-color: blue; */
	/* margin-left: -40px; */
	
}
#u_list.side_nav li:hover{
	display: block;
	/* padding: 15px; */
	/* background-color: #282E34; */
	margin-left: -40px;
	background-color: #282E34;
	
}
#u_list.side_nav li a:hover{
	/* display: block; */
	/* padding: 15px; */
	/* background-color: #282E34; */
	/* margin-left: -40px; */
	background-color: r#282E34ed;
	
	
}

nav ul li a:hover{
	font-weight: 900;
	/* font-size: 120%; */
	animation: flash linear 3.25s infinite;
	color: white;
}


nav ul li a:link{
	text-decoration: none;
	color: #e5f6fc;
}
nav ul li a:visited{
	color: #e5f6fc;
}

#title{

	position: absolute;
	top: 40%;
	width: 100%;
	display: inline-block;
	text-align: center;
	color: #FFF;
	opacity: 0;
	padding-left: 20px;
	padiing-right: 20px;
	animation: fadeIn 3s ease-out forwards;
	/* overflow: none; */
	/* padding: 1%; */
	letter-spacing: 3vw;
	/* animation-delay: 0.5s; */
	/* transition: 6s letter-spacing; */
	font-weight: 700;
	font-size: 3.5vw;
	overflow: hidden;
	/* perhaps implement titles into h1 h2 elements for vice versa*/
	
}

@keyframes fadeIn{
	0%{
	letter-spacing: -1vw;
    opacity: 0;
	}
	20%{
    letter-spacing: 2vw;
    opacity: 1;
	}
	100%{
    letter-spacing: 3vw;
    opacity: 1;
	}
}

.contact_block{
	position: absolute;
	text-align: center;
	/* background-color: yellow; */
	display: inline-block;
	width: 100%;
	top: 70%;
	
}

a.contact_button{
	box-sizing: border-box;
	text-decoration: none;
	border: 0.5vh solid #FFFFFF;
	font-size: 4.5vh;
	color:#FFFFFF;	
	padding: 2vh;
	transition: all 0.5s ease;
	border-radius: 1vh;
}
a.contact_button:hover{
	background-color: white;
	color: black;
	font-size: 5vh;
	/* border: 1vh solid #111; */
	
	
}
.details{
	position: absolute;
	text-align: center;
	/* background-color: yellow; */
	display: inline-block;
	width: 100%;
	top: 90%;
	transition: all cubic-bezier(0.31,-0.67, 0.63, 2.48) 1s;
}

.details span{
	padding: 10px;
	color: white;
	font-size: 1.3em;
	
}
.details span a:link{
	color: white;
	text-decoration: none;
	font-weight: 100;
	
	
}
.hide_top{
	opacity: 0;
	transform: translate(0, -3em);
	pointer-events: none;
	
}
#bgimg-1, #bgimg-2, #bgimg-3, #bgimg-4, #bgimg-5{
  position: relative;

  background-attachment: fixed;
  
  background-repeat: no-repeat;
  background-size: cover;

}
#bgimg-1 {
	background-position: center 0px;
	min-height: 100vh;
	background-image: url("img/forestLake.jpg");
	/* work around for padding on first div */
	/* margin-top: -100px; */
  }

/* .bgimages{ */
	/* width: 100%; */
	/* position: fixed; */
	
	
/* } */
#bgimg-2 {
	background-position: center;
	background-image: url("img/droneCity.jpg");
	min-height: 50vh;

}

#bgimg-3 {
	background-position: center 0px;
  background-image: url("img/people.jpg");
  min-height: 100vh;
}
#bgimg-4 {
	background-position: center 0px;
	background-image: url("img/forestLake.jpg");
	min-height: 40vh;
}
#bgimg-5{
	background-position: center 0px;
	/* background-image: url("img/forestLake.jpg"); */
	background-color: red;
	height: 10vh;
	
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;

}
/* title for background window */
.caption span.border {
  background-color: #111;
  color: #fff;
  /* padding: 18px; */
  font-size: 25px;
  letter-spacing: 10px;
}
.gallery{
	position: relaitve;
	/*this is to disregard new line margin for inline block*/
	font-size: 0;
	/* margin-right: -4px;  */
	/*find out whats going on here*/
	display: inline-block;
	/* position: relaitve; */
	/* background-color: blue; */
	/* float: left; */
	text-align: center;
	height: auto;
	width: 49%;
	/* padding-left: 100px; */
	/* margin: 3px; */
	/* background-color: red; */
	object-fit: cover;
	/* margin: 3%; */
	margin: 0;
	padding: 2%;
	transition: transform 1s ease;
}

.gallery a img{
	/*new line margin for inline block */

	max-width: 100%;
	max-height : 80%;
	filter: grayscale(100%);
	transition: filter 0.8s;
	/* margi: 10%; */
	/* padding: 5% 10%; */
}

.gallery a img:hover{
	filter: grayscale(0%);
	transition: filter 0.8s;
}

.hide_left{
	/* transform: translateX(-100%); */
	opacity: 1;
}
.social{
	list-style-type: none;
	text-align: center;
	opacity: 1;
	margin: 0;
	
}
.social li{
	display: inline;
	font-size: 20vh;
	/* padding: 5%;	 */
	color: white;
	width: 50%;
}
.social i{
	/* font-size: 460%; */

	/* padding: 5%; */
	color: #F5F5F5;
	/* background-color: blue; */
}
.social i:hover{
	color: #111;
	transition: color 0.5s;
}
nav ul li a:link{
	text-decoration: none;
	color: #e5f6fc;
}
nav ul li a:visited{
	color: #e5f6fc;
}

#section-1, #section-2, #section-3{
	position: relative;
	color: white;
	background-color: #282E34;
	text-align: center;
	font: 30px;
	margin: 0;
}


#section-1 p, #section-2 p, #section-3 p{
	opacity: 0;
	transition: opacity 2s;
}



h3 {
  letter-spacing: 1vh;
  text-transform: uppercase;
  font: 10vh "Lato", sans-serif;
  color: #111;
  text-align:center;
  position: relative;
}
h4 {
  letter-spacing: 1vh;
  text-transform: uppercase;
  font: 5vh "Lato", sans-serif;
  color: #111;
  text-align:center;
  position: relative;
}

/* ////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////// */
				/*portfolio page*/
/* ////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////// */


.carousel {
  position: relative;
  height: 400px;
  top: 50%;
  transform: translateY(-50%);
  overflow: hidden;
  /* background-color: blue; */
}
.carousel div {
  position: absolute;
  transition: transform 1s, left 1s, opacity 1s, z-index 0s;
  opacity: 1;
  background-color: #111;
}
.carousel div img {
  width: 400px;
  transition: width 1s;
}
.carousel div p {
  position: relaitve;
  color: white;
  width: 400px;
  transition: width 1s;	
}
.carousel div.hideLeft {
  left: 0%;
  opacity: 0;
  transform: translateY(50%) translateX(-50%);
}
.carousel div.hideLeft img, .carousel div.hideLeft p {
  width: 200px;
}
.carousel div.hideRight {
  left: 100%;
  opacity: 0;
  transform: translateY(50%) translateX(-50%);
}
.carousel div.hideRight img, .carousel div.hideRight p {
  width: 200px;
}
.carousel div.prev {
  z-index: 5;
  left: 30%;
  transform: translateY(50px) translateX(-50%);
}
.carousel div.prev img, .carousel div.prev p {
  width: 300px;
}
.carousel div.prevLeftSecond {
  z-index: 4;
  left: 15%;
  transform: translateY(50%) translateX(-50%);
  opacity: 0.7;
}
.carousel div.prevLeftSecond img, .carousel div.prevLeftSecond p {
  width: 200px;
}
.carousel div.selected {
  z-index: 10;
  left: 50%;
  transform: translateY(0px) translateX(-50%);
}
.carousel div.next {
  z-index: 5;
  left: 70%;
  transform: translateY(50px) translateX(-50%);
}
.carousel div.next img, .carousel div.next p {
  width: 300px;
}
.carousel div.nextRightSecond {
  z-index: 4;
  left: 85%;
  transform: translateY(50%) translateX(-50%);
  opacity: 0.7;
}
.carousel div.nextRightSecond img, .carousel div.nextRightSecond p {
  width: 200px;
}

.buttons {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
}

/* ////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////// */
				/*Case Studies*/
/* ////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////// */
* {
  box-sizing: border-box;
}
.column {
  float: left;
  width: 50%;
  position: relaitve;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.column img:hover{
	
	transform: scale(1.5);
	/* opacity:0.75; */
	filter: blur(2px);
	z-index: 0;
}
/* .column p:hover{ */
	/* transform: scale(1.5); */
/* } */
.column p{
	display: block;
	pointer-events: none;
	text-align: center;
	z-index: 2;
	opacity: 0;
	transition: opacity 4s ease;
	
}
/* change child to #id to prevent interference with other p tags that exist within colums  */
.column:hover > p { 
	opacity: 1;
	

}
.row:after {
  display: table;
  clear: both;
}

 
 .column img{
	display: block;
	width: 100%;
	transition: all 2s;
	z-index: 2;
 }
 /* ////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////// */
				/*Contacts*/
/* ////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////// */


/* .row span{ */
	/* padding: 5vh; */
	/* font-size: 30px; */
	/* text-align: center; */
/* } */

/* .contact_table table td{ */
	/* text-align: center; */
	/* background-color: black; */
/* } */
.contact_table{

	width: 100%;
	font-size: 3.5vh;
	text-align:right;

	border-collapse: collapse;
	color: white;
	
}
.contact_table td{
	padding-right: 50px;

}
.contact_table tr td a:visited{
	color: #777;
	text-decoration: none;
}
.contact_table tr td a:link{
	color: #777;
	text-decoration: none;
}
.contact_table tr td a:hover{
	color: #777;
	text-decoration: none;
}
.contact_form{
	position: relaitve;
	display: block;
	width: 80%;
	margin: 50px auto;
	border-radius: 10px;
	padding: 20px;
	background-color: #111;
}

.contact_form ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.contact_form li{
	display: block;
	padding: 5px;
	border: 1px solid;
	margin-bottom: 30px;
	border-radius: 10px;
}
.contact_form li:last-child{
	text-align: center;
	margin: 0;
	border: none;
} 
.contact_form li > label{
	display: block;
	float: left;
	margin-top: -19px;
	height: 20px;
	background-color: #111;
	padding: 2px;
}

.contact_form input, .contact_form textarea, .contact_form select{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	display: block;
	outline: none;
	border: none;
	height: 25px;
	line-height: 25px;
	font-size: 16px;
	padding: 0;
	margin-top: 10px;
	border-radius: 10px;
}
.contact_form li > span{
	/* background: #F3F3F3; */
	display: block;
	padding: 20px;
	margin: 0 -9px -9px -9px;
	text-align: center;
	color: #C0C0C0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}


/* Turn off parallax scrolling for tablets and phones */
@media screen and (max-width: 768px) {
    .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5 {
        background-attachment: scroll;
    }
	.column{
		width: 100%;
	}
	.gallery{
		width: 99%;
	}
	/* #menu-icon{ */
	/* margin: 0px -100px; /*padding interfering with margin on both */ 
	/* opacity: 1; */
	/* } */
	
}

@media screen and (min-width: 1300px){
	.gallery{
		width: 32%;
	}
}

@media screen and (max-width: 800px){
	/* #title{ */
		
		/* font-size: 3vh; */
		/* letter-spacing: 2vh; */
		
	/* } */
}